
<!-- ng-app -->
<html lang="en" ng-app="PopQuizApp"> <!-- points (associate) to angular.module -->
        <head>
            <title>Group Project</title>
            
            <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
            <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="/css/main.css">
    
        </head>
        
        <!-- ng-controller  -->
        <!-- ng-cloak TO REMOVE THE SPLIT SECOND {{}} -->
    
        <body ng-cloak>
        <div class="col-sm-2 col-lg-4"></div>
        <div ng-controller="PopQuizCtrl as ctrl" class="col-sm-8 col-lg-4 popquiz-page">
            <h1>Pop Quiz</h1> 
    
            <!-- ng-submit novalidate, disable browser validation -->
            <form name="popquizForm" ng-submit="ctrl.submitQuiz()" novalidate>

            <!-- the question/answers screen will be hidden when the result screen is to be shown -->
            <div class="form-group" ng-hide="ctrl.showResult">
                Q{{ctrl.qnNum }} out of {{ ctrl.numQuestions }} questions <br><br>
                
                <label for="text">{{ctrl.quiz.question}}</label>
            </div>
            <div class="form-group" ng-hide="ctrl.showResult">
                <label for="answer">Answers : </label>
                <br/>
                <div ng-repeat="answer in ctrl.quiz.answers">
                <input id="answer" name="answer" type="radio" ng-model="ctrl.finalanswer.value" value="{{answer.value}}" /> {{answer.name}}
                <br/>
                </div>
            </div>
            <div class="form-group" ng-hide="ctrl.showResult">
                <label for="Comments">Comments</label>
                <input id="Comments" name="Comments" type="text" ng-model="ctrl.finalanswer.comments" class="form-control" />
            </div>
            <div class="form-group" ng-hide="ctrl.showResult">
                <hr/>
                <!-- these buttons will be disabled when the End Quiz button is enabled at end of quiz -->
                <input id="submit" name="submit" ng-disabled="ctrl.submitDisabled || ctrl.endOfQuiz" type="submit" class="btn btn-success" /> 
                <input type="button" name="next" ng-disabled="!ctrl.submitDisabled || ctrl.endOfQuiz" class="btn btn-default" value="Next" ng-click="ctrl.getNext()">
                {{ ctrl.finalanswer.message}}
                <!-- the End Quiz button will be shown only at the end of the quiz -->
                <input type="button" style="margin-left: 80px" name="next" ng-show="ctrl.endOfQuiz" class="btn btn-primary" value="End Quiz" ng-click="ctrl.EndQuiz()">             
            </div>

            <!-- this Result screen will only be shown when it receives the indicator for the end of the quiz -->
            <div ng-show="ctrl.showResult">
                <h3>End of quiz</h3>
                <h1>Score = {{ctrl.score}}</h1>
                <p>Click on the browser refresh button to restart the quiz</p>
            </div>
        </form>
    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <!-- <script src="/js/app.js"></script> -->
    <!-- refactor app.js to app.module.js and app.controller.js -->
    <script src="/js/app.module.js"></script>
    <script src="/js/app.controller.js"></script>
</body>

</html>